<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="/img/weather.png">
    <title>Weather App</title>
  </head>
  <body>
    <div class="wdiv">
    {{>header}}
    <p class="help--1">Provide any address as an input to the search field and get the current weather details.</p>
    <p class="help--2">The input can be of pincode, location, places etc.</p>
    <p class="add">For example : Apple Inc., 1 Infinite Loop, Cupertino, California 95014, United States</p>    
    </div>
    <script src="./js/script.js"></script>

  </body>
</html>