<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png">
    <title>Weather App</title>  
  </head>
  <body>
    <div class="wdiv">
      {{>header}}
      <p>Search any location to get it's current weather!</p>
      <form>
        <input type="text" placeholder="Location">
        <button type="submit">Search</button>
      </form>
      <p class="p11"><ion-icon class="locIcon" name="location"></ion-icon><ion-icon class="alertIcon" name="alert-circle"></ion-icon>&nbsp;<span class="p1"></span></p>
      <p class="p22"><ion-icon name="cloud"></ion-icon>&nbsp;<span class="p2"></span></p>
    </div>
    <script src="/js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>